# Universidad Complutense de Madrid
## Cursos de Formación en Informática - UCM
### Examen del curso de Análisis de Datos con Python

In [3]:
##
# Nombre y Apellidos: Andrés Marí Piqueras
##

### Dataset

En el portal de datos abiertos de la EMT de Madrid se puede encontrar abundante información sobre transporte y movilidad de la ciudad. En particular los datos relativos a la utilización del servicio de bicicletas eléctricas del ayuntamiento de Madrid. 
Trabajaremos con los datos de uso de bicicletas del mes de febrero de 2023: `usos_bicimad.xlsx`. __Cada fila de la tabla representa un viaje en bicicleta (un uso), donde se recoge la siguiente información:__

* `fecha` (Fecha): La fecha en la que tuvo lugar el viaje.
* `idbike` (ID de Bicicleta): El identificador único de la bicicleta utilizada para el viaje.
* `fleet` (Flota): La flota a la que pertenece la bicicleta utilizada.
* `trip_minutes` (Duración del Viaje en Minutos): La duración del viaje en minutos.
* `geolocation_unlock` (Geolocalización de Desbloqueo): Las coordenadas geográficas del lugar de inicio del viaje.
* `address_unlock` (Dirección de Desbloqueo): La dirección postal en la que se desbloqueó la bicicleta.
* `unlock_date` (Fecha y Hora de Desbloqueo): La fecha y hora exactas en las que comenzó el viaje.
* `locktype` (Tipo de Bloqueo): El estado de la bicicleta antes del viaje. Puede estar anclada en una estación o simplemente bloqueada en cualquier lugar libremente.
* `unlocktype` (Tipo de Desbloqueo): El estado de la bicicleta después del viaje.
* `geolocation_lock` (Geolocalización de Bloqueo): Las coordenadas geográficas del lugar final del viaje.
* `address_lock` (Dirección de Bloqueo): La dirección postal en la que se bloqueó la bicicleta.
* `lock_date` (Fecha y Hora de Bloqueo): La fecha y hora exactas en las que finalizó el viaje.
* `station_unlock` (Número de Estación de Desbloqueo): El número de la estación en la que la bicicleta estaba anclada antes del viaje, si la había.
* `dock_unlock` (Muelle de Desbloqueo): El muelle de la estación en la que la bicicleta estaba anclada antes del viaje, si la había.
*  `unlock_station_name` (Nombre de la Estación de Desbloqueo): El nombre de la estación en la que la bicicleta estaba anclada antes del viaje, si la había.
* `station_lock` (Número de Estación de Bloqueo): El número de la estación en la que la bicicleta estaba anclada después del viaje, si la había.
* `dock_lock` (Muelle de Bloqueo): El muelle de la estación en la que la bicicleta estaba anclada después del viaje, si la había.
* `lock_station_name` (Nombre de la Estación de Bloqueo): El nombre de la estación en la que la bicicleta estaba anclada después del viaje, si la había.

###  Carga de datos

Realizar la carga de los datos en un dataframe. Usa la función apropiada para la carga de ficheros de tipo Excel. No te olvides de importar la librería Pandas.

In [ ]:
# Sol: 
import pandas as pd

usosBici = pd.read_excel('./usos_bicimad.xlsx')
usosBici

### EJ1 (1p)

El método  `dropna` de los DataFrames tiene un argumento `how` que permite indicar que se borren filas o columnas donde todos los valores son `NaN`.  Borrar las filas con todos sus valores `NaN`. El nuevo  dataframe sin valores NaN ha de llamarse `data`.
Para el resto de preguntas del examen, trabajaremos con el dataframe `data`.

In [34]:
# SOL


data=usosBici.dropna(how='all')

data

,fecha,idBike,fleet,trip_minutes,address_unlock,unlock_date,locktype,unlocktype,address_lock,lock_date,station_unlock,unlock_station_name,station_lock,lock_station_name
1,2023-02-01,7337.0,1.0,5.52,'Calle Jesús nº 1',2023-02-01 00:00:10,STATION,STATION,'Plaza de la Cebada nº 16 ',2023-02-01 00:05:41,31.0,27 - Huertas,43.0,39 - Plaza de la Cebada
3,2023-02-01,5098.0,1.0,0.32,'Glorieta de Embajadores nº 2',2023-02-01 00:00:25,STATION,STATION,'Glorieta de Embajadores nº 2',2023-02-01 00:00:44,52.0,48 - Embajadores 2,52.0,48 - Embajadores 2
5,2023-02-01,6519.0,1.0,0.27,'Calle Antonio Maura nº 15',2023-02-01 00:00:36,STATION,STATION,'Calle Antonio Maura nº 15',2023-02-01 00:00:52,69.0,65 - Antonio Maura,69.0,65 - Antonio Maura
7,2023-02-01,2551.0,1.0,8.58,'Glorieta de Embajadores nº 2',2023-02-01 00:00:53,STATION,STATION,'Calle Atocha nº 54',2023-02-01 00:09:28,52.0,48 - Embajadores 2,45.0,41 - Antón Martín
9,2023-02-01,6519.0,1.0,0.20,'Calle Antonio Maura nº 15',2023-02-01 00:00:57,STATION,STATION,'Calle Antonio Maura nº 15',2023-02-01 00:01:09,69.0,65 - Antonio Maura,69.0,65 - Antonio Maura
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336979,2023-02-18,7492.0,1.0,1.33,'Calle Jacometrezo nº 3',2023-02-18 04:25:31,STATION,STATION,'Calle Jacometrezo nº 3',2023-02-18 04:26:51,25.0,22 - Jacometrezo,25.0,22 - Jacometrezo
336981,2023-02-18,5538.0,1.0,9.48,'Calle Jacometrezo nº 3',2023-02-18 04:27:30,STATION,STATION,'Calle San Vicente Ferrer nº 64',2023-02-18 04:36:59,25.0,22 - Jacometrezo,16.0,15 - San Vicente Ferrer
336983,2023-02-18,6473.0,1.0,0.47,'Calle Doctor Esquerdo nº 191',2023-02-18 04:39:38,STATION,STATION,'Calle Doctor Esquerdo nº 191',2023-02-18 04:40:06,89.0,84 - Valderribas,89.0,84 - Valderribas
336985,2023-02-18,5252.0,1.0,7.43,'Calle Sodio nº 1B',2023-02-18 04:42:50,STATION,STATION,'Paseo de la Esperanza nº 2',2023-02-18 04:50:16,243.0,235 - Embajadores 191,134.0,163 - Paseo de la Esperanza
336987,2023-02-18,3077.0,1.0,0.12,'Plaza Cibeles',2023-02-18 07:22:48,STATION,STATION,'Plaza Cibeles',2023-02-18 07:22:55,91.0,86 - Cibeles,91.0,86 - Cibeles

### EJ2 (1p)
La columna `fleet` representa el tipo de flota de bicicleta eléctrica.
Las BiciMAD Go son free floating y se corresponden con tipo de flota 2. A diferencia de las BiciMAD normales, no tienen por qué dejarse en una estación de bicicletas, aunque existe la posibilidad de hacerlo. Su bloqueo se realiza por medio de un candado manual, aspecto en el que se diferencian de las otras bicis municipales.

Por otro lado las columnas `locktype` y `unlocktype` tienen información del tipo de bloqueo y desbloqueo respectivamente.

__Se pide:__ Escribir las instrucciones necesarias en Python  para contestar a las siguientes preguntas:
* ¿Cuántos valores distintos hay en la columna `fleet` del dataframe `usos`?
* ¿Cuántos valores distintos hay en las columnas `locktype` y `unlocktype` del dataframe `usos`?

In [51]:
# SOl:
print('Número de valores distintos en fleet:\n', data['fleet'].value_counts())
print('Número de valores distintos en fleet:\n', data['locktype'].value_counts())
print('Número de valores distintos en fleet:\n', data['unlocktype'].value_counts())

Número de valores distintos en fleet:
 fleet
1.0    167692
2.0       802
Name: count, dtype: int64
Número de valores distintos en fleet:
 locktype
STATION    168018
FREE          476
Name: count, dtype: int64
Número de valores distintos en fleet:
 unlocktype
STATION    168114
FREE          380
Name: count, dtype: int64

###  EJ3 (1p)

La columna `station_lock` proporciona información de la estación de bloqueo de una bicibleta, mientras que `station_unlock` proporciona información de la estación de desbloqueo. En algunos casos, las bicicletas se desbloquean en una determinada estación, pero no se bloquean en ninguna, por lo que la columna `station_lock` contendrá un `NaN`. 

¿Cuántas bicicletas han sido desbloqueadas de una estación y no se bloquean en ninguna? Puedes usar las operaciones `isna` y `notna`.

In [70]:
# Sol

usosBici[usosBici['station_unlock'].notna() & usosBici['station_lock'].isna()].count()[0]

168

### EJ4 (1p)
Ejecuta la operación `info` para explorar el tipo de datos de cada una de las columnas. 
La columna `fleet` representa el tipo de flota de bicicleta eléctrica. 
¿Cuál es el tipo de datos de esta columna?.

Seleccionar solo las bicicletas del tipo de flota con valor 1. El nuevo dataframe se ha de llamar `regular_fleet`.

In [49]:
# Sol1:

regular_fleet=data[data['fleet']==1]
regular_fleet

,fecha,idBike,fleet,trip_minutes,address_unlock,unlock_date,locktype,unlocktype,address_lock,lock_date,station_unlock,unlock_station_name,station_lock,lock_station_name
1,2023-02-01,7337.0,1.0,5.52,'Calle Jesús nº 1',2023-02-01 00:00:10,STATION,STATION,'Plaza de la Cebada nº 16 ',2023-02-01 00:05:41,31.0,27 - Huertas,43.0,39 - Plaza de la Cebada
3,2023-02-01,5098.0,1.0,0.32,'Glorieta de Embajadores nº 2',2023-02-01 00:00:25,STATION,STATION,'Glorieta de Embajadores nº 2',2023-02-01 00:00:44,52.0,48 - Embajadores 2,52.0,48 - Embajadores 2
5,2023-02-01,6519.0,1.0,0.27,'Calle Antonio Maura nº 15',2023-02-01 00:00:36,STATION,STATION,'Calle Antonio Maura nº 15',2023-02-01 00:00:52,69.0,65 - Antonio Maura,69.0,65 - Antonio Maura
7,2023-02-01,2551.0,1.0,8.58,'Glorieta de Embajadores nº 2',2023-02-01 00:00:53,STATION,STATION,'Calle Atocha nº 54',2023-02-01 00:09:28,52.0,48 - Embajadores 2,45.0,41 - Antón Martín
9,2023-02-01,6519.0,1.0,0.20,'Calle Antonio Maura nº 15',2023-02-01 00:00:57,STATION,STATION,'Calle Antonio Maura nº 15',2023-02-01 00:01:09,69.0,65 - Antonio Maura,69.0,65 - Antonio Maura
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336979,2023-02-18,7492.0,1.0,1.33,'Calle Jacometrezo nº 3',2023-02-18 04:25:31,STATION,STATION,'Calle Jacometrezo nº 3',2023-02-18 04:26:51,25.0,22 - Jacometrezo,25.0,22 - Jacometrezo
336981,2023-02-18,5538.0,1.0,9.48,'Calle Jacometrezo nº 3',2023-02-18 04:27:30,STATION,STATION,'Calle San Vicente Ferrer nº 64',2023-02-18 04:36:59,25.0,22 - Jacometrezo,16.0,15 - San Vicente Ferrer
336983,2023-02-18,6473.0,1.0,0.47,'Calle Doctor Esquerdo nº 191',2023-02-18 04:39:38,STATION,STATION,'Calle Doctor Esquerdo nº 191',2023-02-18 04:40:06,89.0,84 - Valderribas,89.0,84 - Valderribas
336985,2023-02-18,5252.0,1.0,7.43,'Calle Sodio nº 1B',2023-02-18 04:42:50,STATION,STATION,'Paseo de la Esperanza nº 2',2023-02-18 04:50:16,243.0,235 - Embajadores 191,134.0,163 - Paseo de la Esperanza
336987,2023-02-18,3077.0,1.0,0.12,'Plaza Cibeles',2023-02-18 07:22:48,STATION,STATION,'Plaza Cibeles',2023-02-18 07:22:55,91.0,86 - Cibeles,91.0,86 - Cibeles

### EJ5 (1p)

La columna `fecha` proporciona información de la fecha en la que se recoge el dato sobre la actividad de una bicicleta. Por otro lado, la columna `trip_minutes` recoge información de la duración del viaje __en minutos__. 

Por cada día del mes, calcular el número total de horas de uso de bicicletas.

In [121]:
# SOL

data.groupby('fecha')['trip_minutes'].sum()/60

fecha
2023-02-01    4160.538500
2023-02-02    3435.122333
2023-02-03    3456.311667
2023-02-04    3640.818667
2023-02-05    3263.938167
2023-02-06    3372.989167
2023-02-07    2874.889500
2023-02-08    3446.484000
2023-02-09    3514.816500
2023-02-10    3596.700667
2023-02-11    2977.282500
2023-02-12    3003.624000
2023-02-13    3121.499333
2023-02-14    2751.551167
2023-02-15    2742.637167
2023-02-16    2462.706500
2023-02-17    1905.261667
2023-02-18     162.928500
Name: trip_minutes, dtype: float64

### EJ6 (1p)

* Se quiere averigüar el código de la estación de desbloqueo que a lo largo del mes ha tenido un mayor número de viajes. Calcular dicho dato.

* Calcular la dirección de dicha estación.

In [114]:
# SOL

print('Código: ',data['station_lock'].value_counts().idxmax())
print('Dirección: ',data['lock_station_name'].value_counts().idxmax())

Código:  43.0
Dirección:  39 - Plaza de la Cebada

### EJ7 (1p)

* Se desea ordenar los datos por nombre de la estación de desbloqueo (ascendente), fecha (descendente) y nombre de estación de bloqueo (descendente). El resultado de la ordenación es un nuevo dataframe llamado `usos_ordenado`. 

* Guardar __las 100 primeras filas__ del dataframe `usos_ordenado` como un fichero excel con nombre `usos_ordenado.xlsx'.

In [118]:
# SOL

usos_ordenado=data.sort_values(by=['unlock_station_name', 'fecha', 'lock_station_name'], ascending=[True, False, False])

usos_ordenado.head(100).to_excel('usos_ordenado.xlsx')

### EJ8 (1p)

Queremos crear una nueva columna  llamada `Level` . El valor de dicha columna depende del tipo de viaje. Si el tiempo de viaje es superior a 10 minutos, el valor es 'Rojo'. En caso contrario, el valor de dicha columna es 'Azul'.

In [129]:
# SOL  propiedades['category']= propiedades.priceByArea.map(lambda x :'H' if (x>1500) else 'L')

data['level']=data['trip_minutes'].map(lambda x : 'Rojo' if (x>10) else 'Azul')

C:\Users\andre\AppData\Local\Temp\ipykernel_12848\3626752076.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['level']=data['trip_minutes'].map(lambda x : 'Rojo' if (x>10) else 'Azul')

### EJ9 (1p)

Se desea conocer el número total de viajes de cada una de las bicicletas en el mes de febrero y para cada una de las flotas.
Crar un dataframe con dicha información.

In [ ]:
# SOL

### EJ10 (1p)

Se desea conocer el número medio de horas de viaje de aquellas bicicletas que han sido desbloqueadas en las estaciones con dirección 'Plaza Cibeles'.

In [138]:
# SOL

data[data['unlock_station_name'] == 'Plaza Cibeles']['trip_minutes'].mean()

nan