<div id="navegacion" prev="../Tema_4/t4_funciones_02.html" 
                     next=""></div>

<div class="section-title">Sección 2.5</div>

#  Ejercicios

##  Ejercicio 1

__(a)__ Utiliza la función `range` para generar la __lista__ de numeros pares con inicio 100 y fin 150. Ambos inclusive. 

__(b)__ Utiliza la función `range` para generar la __tupla__ de numeros múltiplos de 3 con inicio 99 y fin 78. Ambos inclusive. El resultado será: `(99, 96, 93, 90, 87, 84, 81, 78)`.

In [2]:
# Sol a) 
list(range(100, 151, 2))

[100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150]

In [3]:
# Sol b) 
list(range(99, 77, -3))

[99, 96, 93, 90, 87, 84, 81, 78]

## Ejercicio 2

Los ejemplos presentados en la Sección 2.3 te ayudarán a resolver el siguiente ejercicio.

El siguiente diccionario representa algunos de los datos de empleados (NIF's y otros datos personales) de una empresa:

In [14]:
personal = {
 '09514247N': {"perfil": ["desarrollador de software","cocina" ],
               'edad': 28,
               'salario': 35000,
               "incorporación": 2005,
               "empresa_ant": "IBM",
               "pais": "España"},
 '12547895E': {"perfil": ["desarrollador de software", "control de calidad"  ],
               'edad': 28,
               'salario': 28000,
               "pais": "España"},
 '01235842B': {"perfil": [ "gestión logística","control de calidad", "transporte"],
               'edad': 28,
               'salario': 47000,
               "empresa_ant": "Amazon",
               "pais": "España"},
 '47854141S': {"perfil": [ "inventario","control de calidad", "gestión de proyectos"  ],
               'edad': 28,
               'salario': 50000,
               "incorporación": 2000,
               "pais": "España"},
 '12345678G': {'edad': 28,
               'salario': 62000,
               "pais": "España"},
 '56789023T': {"perfil": ["desarrollador de videojuegos" ],
               'edad': 28,
               'salario': 29000,
               "pais": "España"}
}

(a) Escribe las instrucciones necesarias para recuperar la lista de todos los NIFs. Observa que el dato del NIF se encuentra en la claves del diccionario `personal`.

In [6]:
# Sol: 
for nif in personal:
    print(nif)

09514247N
12547895E
01235842B
47854141S
12345678G
56789023T

(b) Escribe la instrucción que devuelve la edad de la persona con NIF `01235842B`.

In [10]:
# Sol: 
nif='01235842B'

if(nif in personal):
    print(personal[nif]["edad"])
else:
    print("Nif inválido")

28

(c) Sube el salario en un 10% al empleado con NIF `56789023T`.

In [15]:
# Sol: 

nif='56789023T'

if(nif in personal):
    personal[nif]["salario"]*=1.1
    
else:
    print("Nif inválido")
    
print("El salario nuevo de", nif, "es:" ,personal[nif]["salario"])

El salario nuevo de 56789023T es: 31900.000000000004

 ## Ejercicio 3

Los contenidos presentados en la Sección 2.4 te ayudarán a resolver el siguiente ejercicio.

(a) Construye una función llamada `incrementa_salario` que reciba como parámetro de entrada un valor numérico que representa un salario. La función devuelve el salario incrementado en un 10%.

(b) Dada una lista de salarios, queremos incrementar cada uno de ellos en un 10%. Usa la función `aplicar_operacion` definida en la sección anterior para aplicar la función `incrementa_salario` definida en el apartado anterior, a una lista de salarios.

(c) Crea la función lambda equivalente a la función creada en el apartado (a).

__Ejemplos:__

* `incrementa_salario(300) ` devuelve como resultado 330

* `aplicar_operacion(incrementa_salario, [40000,15000,35000])`  devuelve como resultado la lista `[44000.0, 16500.0, 38500.0]`

In [19]:
# Función creada en la sección 2.4: 
def aplicar_operacion(f, m):
    nueva_lista = []
    for e in m:
        resultado = f(e)
        nueva_lista.append(resultado)
    return nueva_lista

In [19]:
# Sol: 


#a.

def incrementa_salario(a):

    return a*1.1


#b.

aplicar_operacion(incrementa_salario, salarios)


#c.
lambda x:x*1.1

[44000.0, 16500.0, 38500.0]

## Ejercicio 4

Los ejemplos presentados en la Sección 2.4 te ayudarán a resolver el siguiente ejercicio.

Dada una lista de direcciones, donde se dispone del código postal y del nombre de la localidad al que pertenece dicho código postal:

```
direcciones = ['28932 - Móstoles', '28210 - Valdemorillo', '28914 - Leganés' ]
```
se desea extraer el nombre de la localidad. Por ejemplo, a partir de la lista anterior, queremos obtener la lista:

['Móstoles', 'Valdemorillo', 'Leganés' ]

Para resolver este problema, tenemos que usar la función split de los strings, que permite dividir un string en partes.

In [31]:
# Sol: 

direcciones = ['28932 - Móstoles', '28210 - Valdemorillo', '28914 - Leganés' ]
localidades= list(map(lambda x: x.split(" - ")[1], direcciones))

print(localidades)

['Móstoles', 'Valdemorillo', 'Leganés']

-------------------