<div id="navegacion" prev="../Tema_8/uso_pandas.html" next=""></div>

<div class="section-title">Sección 6.5</div>

# Ejercicios

## Creación de dataframes

Crear dataframes con la información de los siguientes ficheros. 

El contenido y el formato de los ficheros no se puede modificar.


* Dataframe `caracteristicas` : `features.xlsx`
  Contiene datos extraídos del portal de Idealista referentes a propiedades en venta que se anuncian en su sitio web. A continuación, se detalla la descripción de los campos:
  
  * `code`: código de propiedad
  * `numPhotos` : número de fotos
  * `floor`: Número de plantas   
  * `size_m2`: tamaño en metros cuadrados
  * `exterior`: indica si es exterior o no
  * `rooms`: número de habitaciones
  * `bathrooms`: número de baños  
  * `hasLift`: indica si tiene ascensor o no
  * `price` : precio 
  * `status`: estado de conservación
  
* Dataframe `propiedades`:  `properties.xlsx`   Contiene información asociada a las propiedades. Los campos son:
  * `propertyCode`: código de propiedad
  * `externalReference`: referencia
  * `propertyType`: tipo de propiedad
  * `municipality`  : municipio     
  * `district`: distrito
  * `latitude`: latitud
  * `longitude`: longitud  
  * `priceByArea`: precio del metro cuadrado
  * `neighborhood`: vecindario al que pertenece la propiedad

In [19]:
# Sol:
import pandas as pd

caracteristicas= pd.read_excel('./features.xlsx')
propiedades = pd.read_excel('./properties.xlsx')
merged=pd.merge(caracteristicas, propiedades, left_on='code', right_on='propertyCode', how='outer')

## Pregunta 1

La columna `propertyType` recoge información del tipo de propiedad ofertada en Idealista. Muestra los distintos tipos de propiedad disponibles.

In [20]:
# Sol:
for tipo in propiedades['propertyType'].unique():
    
    print(tipo)

flat
studio
duplex
penthouse

## Pregunta 2

La columna `priceByArea` recoge información acerca del precio por metro cuadrado en la zona de ubicación de la propiedad. Crea un nuevo dataframe  que contenga únicamente aquellas propiedades cuyo precio por metro cuadrado supere los 2600€. El nuevo dataframe ha de llamarse `high_level`.

In [21]:
# Sol:

high_level= propiedades[propiedades ['priceByArea'] > 2600]

high_level

,propertyCode,externalReference,propertyType,municipality,district,latitude,longitude,priceByArea,neighborhood,valor
5,90348142,VP1570,flat,Villaviciosa de Odón,Centro,40.362845,-3.909477,3980,NaN,H
22,92680568,1162,flat,Villaviciosa de Odón,Centro,40.358384,-3.905814,2892,NaN,H
26,93175770,P20268,flat,Villaviciosa de Odón,Centro,40.356286,-3.902701,3310,NaN,H
38,85774848,CASTILLOS,flat,Alcorcón,Valderas - Los Castillos,40.353391,-3.803433,2947,Valderas - Los Castillos,H
39,91129855,NaN,duplex,Villaviciosa de Odón,Centro,40.355985,-3.908502,3333,NaN,H
...,...,...,...,...,...,...,...,...,...,...
1037,92759195,21020901V,flat,Villaviciosa de Odón,Centro,40.355539,-3.901768,3053,NaN,H
1038,85386234,1808/131,penthouse,Alcorcón,Parque Lisboa - La Paz,40.351195,-3.820592,2797,Parque Lisboa - La Paz,H
1040,90747765,P1 1ºB,flat,Alcorcón,Parque oeste - Fuente Cisneros,40.343850,-3.845690,3149,Parque oeste - Fuente Cisneros,H
1046,87157855,P3 PRIMERA A,flat,Alcorcón,Parque oeste - Fuente Cisneros,40.343850,-3.845690,3216,Parque oeste - Fuente Cisneros,H
1050,92920733,02556,flat,Alcorcón,Valderas - Los Castillos,40.350768,-3.800656,3444,Valderas - Los Castillos,H

## Pregunta 3

La columna `status` recoge información acerca del estado de conservación de la propiedad.  La columna `size` recoge información acerca del tamaño de la propiedad. Crea un nuevo dataframe  que contenga únicamente aquellas propiedades con más de 250 metros cuadrados cuyo estado de conservación sea `good`. El nuevo dataframe ha de llamarse `good`.

In [22]:
# Sol:


good=caracteristicas[(caracteristicas['size_m2']>250 )& (caracteristicas['status']=='good')]

good

,code,numPhotos,size_m2,floor,exterior,rooms,bathrooms,hasLift,status,price
581,37065084,37,266,6,False,4,4,1.0,good,336000
600,93215669,47,260,3,True,5,3,0.0,good,330000

## Pregunta 4

Crear un nuevo dataframe llamado `ordenadas` donde las propiedades se encuentren ordenadas siguiendo el siguiente criterio:  Ordenar las propiedades por precio(creciente), tamaño de la propiedad(creciente) y número de habitaciones(decreciente).

In [23]:
# Sol:

ordenadas = merged.sort_values(by=['priceByArea', 'size_m2', 'rooms'], ascending=[True, True, False])

ordenadas

,code,numPhotos,size_m2,floor,exterior,rooms,bathrooms,hasLift,status,price,propertyCode,externalReference,propertyType,municipality,district,latitude,longitude,priceByArea,neighborhood,valor
931,90010051,13,125,bj,True,1,1,1.0,good,115000,90010051,LOCALES/ESTORIL II,flat,Móstoles,Norte - Universidad,40.332145,-3.869964,920,NaN,L
606,83627181,36,137,9,True,4,2,1.0,good,131000,83627181,39942835,flat,Móstoles,Norte - Universidad,40.333745,-3.870264,956,NaN,L
162,92836724,16,68,bj,True,2,1,0.0,renew,69000,92836724,3375-06802,flat,Móstoles,Suroeste,40.318187,-3.871730,1015,NaN,L
519,92420560,45,117,1,True,3,1,1.0,good,119000,92420560,NaN,flat,Fuenlabrada,El Naranjo,40.296090,-3.809511,1017,NaN,L
660,88872386,5,88,bj,True,0,2,0.0,renew,89998,88872386,3454-02739,studio,Alcorcón,Centro,40.345327,-3.826581,1023,Casco Antiguo,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,93278886,16,55,bj,True,1,1,0.0,good,230000,93278886,4716,flat,Villaviciosa de Odón,Centro,40.358150,-3.906539,4182,NaN,H
1067,88889390,18,45,bj,True,1,1,0.0,good,195000,88889390,NaN,flat,Villaviciosa de Odón,Centro,40.358373,-3.905004,4333,NaN,H
140,89949748,14,50,3,True,2,1,1.0,good,240000,89949748,P20239,flat,Villaviciosa de Odón,Centro,40.360324,-3.906352,4800,NaN,H
185,88567782,15,50,3,True,2,1,1.0,good,240000,88567782,P20239,flat,Villaviciosa de Odón,Centro,40.358690,-3.909260,4800,NaN,H
1102,90225312,0,35,1,True,1,1,NaN,good,185000,90225312,4660,flat,Villaviciosa de Odón,Centro,40.360084,-3.903067,5286,NaN,H

## Pregunta 5

Modifica el dataframe `propiedades`. La columna `priceByArea` indica el precio por metro cuadrado en la zona. Crea una nueva columna llamada `category` cuyo valor sea `H` si el precio por metro cuadrado es superior a 1500€ y  `L` en caso contrario.

In [24]:
# Sol:

propiedades['category']= propiedades.priceByArea.map(lambda x :'H' if (x>1500) else 'L')
propiedades

,propertyCode,externalReference,propertyType,municipality,district,latitude,longitude,priceByArea,neighborhood,valor,category
0,91491311,IN-LOS CANTOS,flat,Alcorcón,Centro,40.345182,-3.831863,1998,Casco Antiguo,H,H
1,92958132,8ºA,flat,Móstoles,Sur,40.314220,-3.867881,2103,NaN,H,H
2,93285156,S07,flat,Móstoles,Este,40.323954,-3.851921,1819,NaN,H,H
3,89910663,CG-69578-0001,flat,Alcorcón,Parque Lisboa - La Paz,40.353783,-3.818280,2269,Parque Lisboa - La Paz,H,H
4,92941119,Pablo Neruda,flat,Alcorcón,Prado de Santo Domingo,40.330465,-3.824983,2317,Prado de Santo Domingo,H,H
...,...,...,...,...,...,...,...,...,...,...,...
1050,92920733,02556,flat,Alcorcón,Valderas - Los Castillos,40.350768,-3.800656,3444,Valderas - Los Castillos,H,H
1051,93244877,avdm,flat,Móstoles,Centro,40.321677,-3.867371,1591,NaN,H,H
1052,91455925,235154,flat,Móstoles,Este,40.325041,-3.853254,1709,NaN,H,H
1053,93244884,RP118202181606,flat,Móstoles,Norte - Universidad,40.328890,-3.863530,1528,NaN,H,H
1054,92756256,NaN,flat,Móstoles,Este,40.325011,-3.858951,1500,NaN,L,L

## Pregunta 6

Calcular el precio medio del metro cuadrado en la zona de las propiedades por municipio y distrito.

In [25]:
# Sol:

propiedades.groupby(['municipality','district'])['priceByArea'].mean()

municipality          district
Alcorcón              Bellasvistas - Hipercor           2105.500000
                      Campodón - Ventorro del Cano      1556.000000
                      Centro                            1889.074866
                      Parque Lisboa - La Paz            2258.853659
                      Parque Ondarreta - Urtinsa        2095.878788
                      Parque oeste - Fuente Cisneros    2781.357143
                      Prado de Santo Domingo            2620.000000
                      Valderas - Los Castillos          2350.525000
Fuenlabrada           El Naranjo                        1654.884615
                      Fuenlabrada II - El Molino        1573.000000
                      La Serna                          2217.500000
                      Loranca                           1876.875000
                      Universidad - Hospital            2537.782609
Móstoles              Centro                            1746.290323
                      Coimbra - Guadarrama              1782.857143
                      El Soto - Coveta                  1851.692308
                      Este                              1812.574713
                      Norte - Universidad               1943.472222
                      Sur                               1908.521739
                      Suroeste                          1713.392857
Villaviciosa de Odón  Castillo - Campodón               2690.250000
                      Centro                            2974.493151
Name: priceByArea, dtype: float64

## Pregunta 7

Calcular el precio medio de las propiedades por status y número de habitaciones.

In [26]:
# Sol:
caracteristicas.groupby(['status', 'rooms'])['price'].mean()

status          rooms
good            0        144750.000000
                1        155490.400000
                2        186614.044118
                3        181806.914339
                4        245981.268657
                5        351165.833333
                6        369375.000000
newdevelopment  1        224500.000000
                2        292598.166667
                3        339472.432432
                4        419011.666667
renew           0        176666.000000
                1        106050.000000
                2        121720.000000
                3        138604.116883
                4        210968.750000
                5        330000.000000
Name: price, dtype: float64

## Pregunta 8

La columna `neighborhood` recoge información adicional acerca de las características del entorno de la propiedad. 
* Averigua cuántos valores NaN existen en dicha columna. 
* Sustituye los valores NaN de dicha columna por el valor "No comments"

In [27]:
# Sol:

pd.isna(propiedades['neighborhood']).count()

propiedades.neighborhood.map(lambda x: 'No comments' if(pd.isna(x)) else x)

0                  Casco Antiguo
1                    No comments
2                    No comments
3         Parque Lisboa - La Paz
4         Prado de Santo Domingo
                  ...
1050    Valderas - Los Castillos
1051                 No comments
1052                 No comments
1053                 No comments
1054                 No comments
Name: neighborhood, Length: 1055, dtype: object

## Pregunta 9

Calcula el salario medio de las propiedades con ascensor situadas en el municipio de Móstoles.

In [28]:
# Sol:

merged[(merged['municipality']=='Móstoles') & (merged['hasLift'])]['price'].mean()

193629.67810026385

## Pregunta 10

Calcula el número de propiedades situadas en Fuenlabrada que cuentan con ascensor (campo `hasLift`).

In [29]:
# Sol:
merged[(merged['municipality']=='Fuenlabrada')& (merged['hasLift'])]['propertyCode'].count()

107